<a href="https://colab.research.google.com/github/AnhVietPham/Text-Mining/blob/main/tf-idf/tf_idf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
from IPython.display import display
import sklearn as sk
import math

In [13]:
first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning is the key for data science"

In [14]:
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")

In [15]:
print(first_sentence)
print(second_sentence)

['Data', 'Science', 'is', 'the', 'sexiest', 'job', 'of', 'the', '21st', 'century']
['machine', 'learning', 'is', 'the', 'key', 'for', 'data', 'science']

In [16]:
total = set(first_sentence).union(set(second_sentence))

In [17]:
print(total)

{'of', 'sexiest', 'Data', 'science', '21st', 'learning', 'for', 'key', 'is', 'machine', 'Science', 'the', 'century', 'data', 'job'}

In [18]:
wordDictA = dict.fromkeys(total, 0)
wordDictB = dict.fromkeys(total, 0)

In [19]:
print(wordDictA)
print(wordDictB)

{'of': 0, 'sexiest': 0, 'Data': 0, 'science': 0, '21st': 0, 'learning': 0, 'for': 0, 'key': 0, 'is': 0, 'machine': 0, 'Science': 0, 'the': 0, 'century': 0, 'data': 0, 'job': 0}
{'of': 0, 'sexiest': 0, 'Data': 0, 'science': 0, '21st': 0, 'learning': 0, 'for': 0, 'key': 0, 'is': 0, 'machine': 0, 'Science': 0, 'the': 0, 'century': 0, 'data': 0, 'job': 0}

In [20]:
for word in first_sentence:
    wordDictA[word] += 1

for word in second_sentence:
    wordDictB[word] += 1

In [21]:
print("=" * 50)
print(wordDictA)
print("=" * 50)
print(wordDictB)

==================================================
{'of': 1, 'sexiest': 1, 'Data': 1, 'science': 0, '21st': 1, 'learning': 0, 'for': 0, 'key': 0, 'is': 1, 'machine': 0, 'Science': 1, 'the': 2, 'century': 1, 'data': 0, 'job': 1}
==================================================
{'of': 0, 'sexiest': 0, 'Data': 0, 'science': 1, '21st': 0, 'learning': 1, 'for': 1, 'key': 1, 'is': 1, 'machine': 1, 'Science': 0, 'the': 1, 'century': 0, 'data': 1, 'job': 0}

In [22]:
df = pd.DataFrame([wordDictA, wordDictB])
df

,of,sexiest,Data,science,21st,learning,for,key,is,machine,Science,the,century,data,job
0,1,1,1,0,1,0,0,0,1,0,1,2,1,0,1
1,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0

In [23]:
def computeTF(wordDict, doc):
  tfDict = {}
  corpusCount = len(doc)
  for word, count in wordDict.items():
    tfDict[word] = count/float(corpusCount)
  return (tfDict)

tfFirst = computeTF(wordDictA, first_sentence)
tfSecond = computeTF(wordDictB, second_sentence)

tf = pd.DataFrame([tfFirst, tfSecond])

In [24]:
tf

,of,sexiest,Data,science,21st,learning,for,key,is,machine,Science,the,century,data,job
0,0.1,0.1,0.1,0.000,0.1,0.000,0.000,0.000,0.100,0.000,0.1,0.200,0.1,0.000,0.1
1,0.0,0.0,0.0,0.125,0.0,0.125,0.125,0.125,0.125,0.125,0.0,0.125,0.0,0.125,0.0

In [25]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [26]:
from nltk.corpus import stopwords

In [27]:
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [28]:
filtered_sentence = []
for word in wordDictA:
  if str(word) not in set(stopwords.words('english')):
    filtered_sentence.append(word)

In [29]:
filtered_sentence

['sexiest',
 'Data',
 'science',
 '21st',
 'learning',
 'key',
 'machine',
 'Science',
 'century',
 'data',
 'job']

In [30]:
def computeIDF(docList):
  idfDict = {}
  N = len(docList)

  idfDict = dict.fromkeys(docList[0].keys(), 0)
  for word, val in idfDict.items():
    idfDict[word] = math.log10(N / (float(val) + 1))
  return (idfDict)

idfs = computeIDF([wordDictA, wordDictB])

In [31]:
idfs

{'of': 0.3010299956639812,
 'sexiest': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'science': 0.3010299956639812,
 '21st': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'for': 0.3010299956639812,
 'key': 0.3010299956639812,
 'is': 0.3010299956639812,
 'machine': 0.3010299956639812,
 'Science': 0.3010299956639812,
 'the': 0.3010299956639812,
 'century': 0.3010299956639812,
 'data': 0.3010299956639812,
 'job': 0.3010299956639812}

In [32]:
def computeTFIDF(tfBow, idfs):
  tfidf = {}
  for word, val in tfBow.items():
    tfidf[word] = val * idfs[word]
  return (tfidf)

In [33]:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)

idf = pd.DataFrame([idfFirst, idfSecond])

In [34]:
idf

,of,sexiest,Data,science,21st,learning,for,key,is,machine,Science,the,century,data,job
0,0.030103,0.030103,0.030103,0.000000,0.030103,0.000000,0.000000,0.000000,0.030103,0.000000,0.030103,0.060206,0.030103,0.000000,0.030103
1,0.000000,0.000000,0.000000,0.037629,0.000000,0.037629,0.037629,0.037629,0.037629,0.037629,0.000000,0.037629,0.000000,0.037629,0.000000

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

firstV = "Data Science is the sexiest job of the 21st century"

secondV = "machine learning is the key for data science"

vectorize = TfidfVectorizer()

response = vectorize.fit_transform([firstV, secondV])

In [36]:
print(response)

  (0, 1)	0.34211869506421816
  (0, 0)	0.34211869506421816
  (0, 9)	0.34211869506421816
  (0, 5)	0.34211869506421816
  (0, 11)	0.34211869506421816
  (0, 12)	0.48684053853849035
  (0, 4)	0.24342026926924518
  (0, 10)	0.24342026926924518
  (0, 2)	0.24342026926924518
  (1, 3)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 7)	0.40740123733358447
  (1, 8)	0.40740123733358447
  (1, 12)	0.28986933576883284
  (1, 4)	0.28986933576883284
  (1, 10)	0.28986933576883284
  (1, 2)	0.28986933576883284